@import "../../../colors";

.button {
  display: inline-block;
  color: $white;
  background: $light-orange;
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
}

.button:hover {
  transition-duration: .2s;
  background: $orange-red;
  color: $white;
  cursor: pointer;
}

.button:active {
  background: $red;
  cursor: pointer;
}