@import "../../colors";

.question-card-component {
  background: $dark-charcoal;
  color: $white;
  border-radius: 4px;
  margin: 5% auto 0;
  transition: height 1s;
  min-height: 20em;
  position: relative;
  vertical-align: bottom;
}

.clicked {
  padding: 20px;
  background: $dark-charcoal;
  border: none;
}

.loader-container {
  position: relative;
}

.loader {
  display: block;
  margin:  auto;
  border-radius: 2px;
  max-height: 150px;
  background: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.question-text {
  font-size: 30px;
  padding: 10px 0px;
  margin: 20px auto;
  min-height: 75%;
  border-radius: 2px;
  background: $dark-charcoal;
  display: block;
}

.input-container {
  padding: 15px 0px;
}

.restart-container {
   padding: 15px 15px;
   background-color: $dark-charcoal;
   margin: 5px 0px;
   border-radius: 4px;
 }