@import "../../../colors";

.option {
  display: inline-block;
  color: $white;
  background: $light-orange;
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
}

.option:hover {
  transition-duration: .2s;
  background: $orange-red;
  color: $white;
  cursor: pointer;
}

.option:active {
  transition-duration: .1s;
  background-color: $red;
  cursor: pointer;
}

.selected {
  background: $white;
  color: black;
}
.selected:hover {
  transition-duration: .2s;
  background: $orange-red;
  color: black;
  cursor: pointer;
}

